[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
boto3 = "*"

[dev-packages]
aws-lambda-powertools = "*"
boto3 = "*"
mypy = "*"
pytest = "*"
boto3-stubs = {extras = ["kinesis"], version = "*"}

[requires]
python_version = "3.10"
